a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 > a:visited,
h3 > a:visited {
  color: #f1faee;
}

.blog-post-title > a:visited {
  color: #e63946;
}

nav > a {
  color: #e63946;
}

li > a {
  text-decoration: none;
  color: #f1faee;
}

.author-link {
  text-decoration: underline;
}
a.author-link:visited {
  color: #e63946;
}
a.spaceblog-link:visited {
  color: #e63946;
}
